@import "../../../style-config/mixins.scss",
    "../../../style-config/variable.scss";

.intro-content {
    flex-grow: 1;
    display: flex;
    padding-top: 75px;
    @include small-screen {
        padding-top: 0;
        align-items: flex-end;
    }
    .layout {
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: center;
        align-items: center;
        @include small-screen {
            flex-direction: row;
        }
        .col {
            width: 100%;
            margin-bottom: 90px;
            @include small-screen {
                width: 100%;
            }
            @include medium-screen {
                padding-top: 0px;
            }
            @include large-screen {
                padding-top: 0;
                width: 100%;
            }
            .title {
                display: flex;
                flex-direction: column;
                color: $white;
                text-align: center;
                align-items: center;
                @include small-screen {
                    text-align: left;
                }
                .text-1 {
                    color: $yellow;
                    font-weight: 500;
                .small-text {
                    @include typography(24px, 400, 30px);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    @include small-screen {
                        justify-content: flex-start;
                        @include typography(42px, 400, 48px);
                    }
                    text {

                    }
                    }
                    .icon {
                        margin-left: 10px;
                    }
                }
                .big-text {
                    @include typography(42px, 400, 52px);
                    @include small-screen {
                        @include typography(62px, 400, 72px);
                    }
                }
            }
            p {
                @include typography(14px, 400, 20px);
                margin: 15px 0;
                padding: 0 15px;
                @include small-screen {
                    @include typography(18px, 400, 24px);
                    margin: 25px 0;
                    padding: 0;
                }
            }
            .call-to-action {
                margin: 0 auto;
                align-items: center;
                @include small-screen {
                    margin: 20px 0;
                    align-items: center;
                }
            }
        }
    }
}
